## logs ###
/logs
*.log

### version control ###
/.git/

### build tool ###
.gradle
!gradle/wrapper/gradle-wrapper.jar

### output ###
/out/
/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
